section {
	margin: 0 auto;
	max-width: 48rem;
	width: 90%;
}

ul {
	list-style-type: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  background:#e6e6e6;
}

.wrap{
  width:80%;
  margin: 2.6em auto 0 auto;
}

.module{
	width:20%;
	height:15em;
	float: left;
	margin: 0 0 2.6em 6.6%;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.module:first-child{
  margin-left:0;
}

.cssanimations .module{
  opacity:0; 
}

.cssanimations .enter{
  animation:cascade 0.5s 1 cubic-bezier(0, 0.59, 0.24, 1.33) forwards;
}

.cssanimations .come-out{
  animation:cascade-out 0.5s 1 cubic-bezier(0, 0.59, 0.24, 1.33) forwards;
}

.enter:nth-of-type(1n){
  animation-delay:0.1s;
}

.enter:nth-of-type(2n){
  animation-delay:0.2s;
}

.enter:nth-of-type(3n){
  animation-delay:0.3s;
}

.enter:nth-of-type(4n){
  animation-delay:0.4s;
}

@keyframes cascade-out{
	from {bottom:0px; transform: scale(1); opacity:1;}
	to {bottom:-50px; transform: scale(0.8); opacity:0;}
}

@keyframes cascade{
	from {bottom:-50px; transform: scale(0.8); opacity:0;}
	to {bottom:0px; transform: scale(1); opacity:1;}
}